{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "rules": {
    "quotes": [0, "single", {"avoidEscape": true}],
    "semi": [2, "never"],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "varsIgnorePattern": "PropTypes" }],
    "import/no-unresolved": [0, { "commonjs": true, "amd": true }],
    "global-require": 0,
    "quote-props": [2, "as-needed"],
    "max-len": [1, 120],
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "no-confusing-arrow": 0,
    "no-use-before-define": [2, { "functions": true }],
    "no-param-reassign": ["error", { "props": false }],
    "consistent-return": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-restricted-syntax": [2, "WithStatement"],
    "no-continue": 0,
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "no-multiple-empty-lines": [1, { "max": 1 }],
    "no-mixed-operators": 0,
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0,
    "comma-dangle": ["error", {
      "functions": "never",
      "objects": "always-multiline",
      "arrays": "always-multiline"
    }]
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  }
}
